body {
	margin: 0 15% 0 15%;
}

p {
	text-align: justify;
	text-indent: 0;
}

p.latest {
	text-align: left;
	margin: 0 10% 8px 10%;
	padding: 8px 8px 8px 8px;
	background: #DDDDFF;
}

#footer p {
	font-size: smaller;
	text-align: center;
}
